# the heavy data
aia-data/gares-de-voyageurs.csv
aia-data/liste-des-gares.csv
aia-data/formes-des-lignes-du-rfn.geojson

# Environments
.env

# notes
/notes

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
